{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy Manager</title>
    <link href="/css/privateAccess/chefs/chefsManager.css" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="body container chefs_manager">
    <form method='POST' action="/admin/chefs" enctype="multipart/form-data">
            <div class="create">
                <div class="create-grid">
                    <h1>Criando chefs</h1>
                    <button class="button" type="submit">Salvar</button>
                </div>
                

                {% include 'admin/chefs/fields.njk' %}

            </div>
        </div>
    </form>
</div>

{% endblock %}