{% extends "admin/layout.njk" %}
{% import  'parts/cards.njk' as cards%}

{% block head %}

    <title>Gerenciador Foodfy - Criar Chef</title>

{% endblock %}

{% block content %}

{% call cards.render('body container chefs_manager') %}
    
    <form method='POST' action="/admin/chefs" enctype="multipart/form-data">
            <div class="create">
                <div class="create-grid">
                    <h1>Criando chefs</h1>
                    <button class="button" type="submit">Salvar</button>
                </div>
                
                {% include 'admin/chefs/fields.njk' %}

            </div>
        </div>
    </form>

{% endcall %}

{% endblock %}