{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy Manager</title>
    <link href="/css/privateAccess/recipes/create.css" rel="stylesheet">
    <link href="/css/privateAccess/chefs/chefsManager.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="manager-container">

        <form method='POST' action="/admin/chefs?_method=PUT" enctype="multipart/form-data">

            <div class="create">
                <div class="create-grid">
                    <h1>Editando chef</h1>
                    <button class="save-button edit" type="submit">Salvar chef</button>
                </div>

                {% include 'admin/chefs/fields.njk' %}

                <input type="hidden" name="id" value="{{ chef.id }}">
            </div>

        </form>

        <form id='form-delete' method="POST" action="/admin/chefs?_method=DELETE">
            <input type="hidden" name="id" value="{{ chef.id }}">
            <button class="delete" type="submit">Deletar chef</button>
        </form>

    </section>

    {% include "admin/confirm.njk"%}
{% endblock %}