{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy Manager</title>

{% endblock %}

{% block content %}
    <div class="body container chefs_manager">
            <form method='POST' action="/admin/chefs?_method=PUT" enctype="multipart/form-data">

                <div class="create">
                    <div class="create-grid">
                        <h1>Editando chef</h1>
                        <button class="button edit" type="submit">Salvar chef</button>
                    </div>

                    {% include 'admin/chefs/fields.njk' %}

                    <input type="hidden" name="id" value="{{ chef.id }}">
                </div>

            </form>

            <form id='form-delete' method="POST" action="/admin/chefs?_method=DELETE">
                <input type="hidden" name="id" value="{{ chef.id }}">
                <button class="delete edit" type="submit">Deletar chef</button>
            </form>
    </div>

    {% include "admin/parts/confirm.njk"%}
{% endblock %}