<div class="item">
    <div>Nome</div>
    <div>
        <input type="text" name='name' placeholder="Qual o seu nome?" value='{{ chefs.name }}'>
    </div>
</div>

<div class="item">
    <div>Avatar</div>
    <div>
        <input type="url" name='image' placeholder="https://..." value='{{ chefs.image }}'>
    </div>
</div>