{% extends "admin/layout.njk" %}
{% import  'parts/cards.njk' as cards%}
{% import 'parts/section-chefs.njk' as section%}

{% block head %}

    <title>Gerenciador Foodfy - Home</title>

{% endblock %}

{% block content %}
{% call cards.render('body container chefs_manager') %}

    <div class="title-grid">
        <h1>Gerenciar chefs</h1>

        <button>
            <a class="button" href="/admin/chefs/create">Criar Chef</a>
        </button>
    </div>

    {{ section.chefs('', chefs, session) }}

{% endcall %}

{% endblock %}