{% extends "admin/layout.njk" %}

{% block head %}

    <title>{{foods.title}}
        | Foodfy</title>
    <link href="/css/privateAccess/chefs/show.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <section class="body-container">

        <div class="body-fields">
            <div class="body-header">
                <h1>Chef:
                    {{ chef.name }}</h1>
                <button>
                    <a class="edit-button" href="/admin/chefs/{{chef.id}}/edit">Editar chef</a>
                </button>
            </div>

            <div class="chef">

                <div class="chef_avatar">
                    <img src="{{chef.avatar_url}}" alt="Image of {{chef.avatar_url}}">
                </div>

                <div class="chef-content">
                    <h1>{{ chef.name }}</h1>
                    <p>{{ chef.total_recipes }}
                        Receitas</p>
                </p>

            </div>

            <div class="recipes-container">
                <h1>Receitas:
                </h1>

                <div class="recipes-grid">

                    <div class="recipe">

                        <div class="recipe-img">
                            <img src="{{recipes.image}}" alt="Image of {{recipe.image}}">
                        </div>

                        <div class="recipe-content">
                            <h3>{{recipes.title}}</h3>
                            <p>Por
                                {{recipes.chef_name}}</p>
                            <p>
                                <a href="recipes/{{ recipe.id }}">Visualizar</a>
                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <script src="/js/script.js"></script>

    {% endblock %}