{% extends "admin/layout.njk" %}

{% block head %}

    <title>{{foods.title}}
        | Foodfy</title>
    <link href="/css/publicAccess/recipe.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <section class="recipes-container">

        <div class="recipe-fields">
            <div class="recipe-head">
                <button>
                    <a class="edit-button" href="/admin/chefs/{{chef.id}}/edit">Editar chef</a>
                </button>
            </div>

            <div class="chef">

                <div class="chef_avatar">
                    <img src="{{chef.avatar_url}}" alt="Image of {{chef.avatar_url}}">
                </div>

                <div class="chef-content">
                    <h3>{{chef.name}}</h3>
                    <p>X Receitas</p>
                </p>

            </div>

        </section>

        <script src="/js/script.js"></script>

    {% endblock %}