{% extends "publicAccess/layout.njk" %}

{% block head %}

    <title>Chefs | Foodfy</title>

{% endblock %}

{% block content %}
    <div class="body container chefs_manager">

        <div class="chefs-grid">

            {% for chef in chefs %}

                <div class="chef index">

                    <div class="chef_avatar">
                        <img src="{{chef.src}}" alt="Image of {{chef.avatarName}}">
                    </div>

                    <div class="chef-content">
                        <a href="/chefs/{{ chef.id }}">
                            <h3>{{ chef.name }}</h3>
                        </a>
                        <p>{{ chef.total_recipes }}
                            Receitas</p>
                    </div>

                </div>

            {% endfor %}
        </div>

    </div>

{% endblock %}