{% extends "publicAccess/layout.njk" %}

{% block head %}

    <title>Receitas | Foodfy</title>
    <link href="/css/privateAccess/chefs/chefsManager.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <section class="manager-container">

        <div class="body-container">

            <div class="chefs-grid">

                {% for chef in chefs %}

                    <div class="chef">

                        <div class="chef_avatar">
                            <img src="{{chef.avatar_url}}" alt="Image of {{chef.avatar_url}}">
                        </div>

                        <div class="chef-content">
                            <a href="/chefs/{{ chef.id }}">
                                <h3>{{ chef.name }}</h3>
                            </a>
                            <p>{{ chef.total_recipes }}
                                Receitas</p>
                        </div>

                    </div>

                {% endfor %}
            </div>

        </div>
    </section>

{% endblock %}