{% extends "publicAccess/layout.njk" %}

{% block head %}

    <title>{{chef.name}}
        | Foodfy</title>
    <link href="/css/privateAccess/chefs/show.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <section class="body container chefs_manager">

        <div class="body-fields">

            <div class="body-header">
                <h1>Chef:
                    {{ chef.name }}</h1>
            </div>

            <div class="chef">

                <div class="chef_avatar">
                    <img src="{{chef.src}}" alt="Image of {{chef.avatarName}}">
                </div>

                <div class="chef-content">
                    <h1>{{ chef.name }}</h1>
                    <p>{{ chef.total_recipes }}
                        Receitas</p>
                </p>

            </div>

            <div class="recipes container">
                <h1>Receitas:
                </h1>

                <div class="recipes-grid">
                    {% for recipes in recipes %}
                        <div class="recipe">

                            <div class="recipe-img">
                                <img src="{{recipes.src}}" alt="Image of {{recipes.filename}}">
                            </div>

                            <div class="recipe-content">
                                <h3>{{recipes.title}}</h3>
                                <p>Por
                                    {{recipes.chef_name}}</p>
                                <p>
                                    <a href="/recipes/{{ recipes.id }}">Visualizar</a>
                                </p>

                            </div>

                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>

{% endblock %}