{% extends "publicAccess/layout.njk" %}
{% import  'parts/cards.njk' as cards%}
{% import 'parts/section-recipes.njk' as section %}

{% block head %}

    <title>Foodfy | {{ chef.name }}</title>
    
{% endblock %}

{% block content %}
{% call cards.render('body container chefs_manager') %}


    <div class="body-fields">

        <div class="body-header">
            <h1>Chef:
                {{ chef.name }}</h1>
        </div>

        <div class="chef">

            <div class="chef_avatar show">
                <img src="{{chef.img}}" alt="Image of {{chef.filename}}">
            </div>

            <div class="chef-content show">
                <h1>{{ chef.name }}</h1>
                <p>{{ chef.total_recipes }}
                    Receita(s)</p>
            </p>

        </div>

        {% call cards.render('recipe container') %}
            <h1>Receitas:</h1>

            <div class="recipes-grid">
                {% for recipes in recipes %}
                    <div class="recipe">

                        <div class="recipe-img">
                            <img src="{{recipes.img}}" alt="Image of {{recipes.filename}}">
                        </div>

                        <div class="recipe-content">
                            <h3>{{recipes.title}}</h3>
                            <p>Por
                                {{recipes.chef_name}}</p>
                            <p>
                                <a href="/recipes/{{ recipes.id }}">Visualizar</a>
                            </p>

                        </div>

                    </div>
                {% endfor %}
            </div>

        {% endcall %}
    </div>

{% endcall %}
{% endblock %}