{% extends "admin/layout.njk" %}
{% import  'parts/cards.njk' as cards%}

{% block head %}

    <title>Gerenciador Foodfy - Criar Usuário</title>

{% endblock %}

{% block content %}
{% call cards.render('body container users_manager') %}

      <form method='POST' action="/admin/users">
            <div class="create">
                <div class="create-grid">
                    <h1>Criar Usuário</h1>
                    <div class="buttons">
                        <button class="button" type="submit">Salvar</button>
                        <a href="#" onclick='history.back()' class="cancel-button">Cancelar</a>
                    </div>
                </div>
                
                {% include 'admin/users/fields.njk' %}

            </div>
        </div>
    </form>
      
{% endcall %}

{% endblock %}