{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy | Criar Usuário</title>

{% endblock %}

{% block content %}

  <div class="body container users_maneger">
      <form method='POST' action="/admin/users">
            <div class="create">
                <div class="create-grid">
                    <h1>Criar Usuário</h1>
                    <div class="buttons">
                        <button class="button" type="submit">Salvar</button>
                        <a href="#" onclick='history.back()' class="cancel-button">Cancelar</a>
                    </div>
                </div>
                
                {% include 'admin/users/fields.njk' %}

            </div>
        </div>
    </form>
      
  </div>

{% endblock %}