{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy Manager</title>

{% endblock %}

{% block content %}
    <div class="body container users_manager">
            <form method='POST' action="/admin/users?_method=PUT">

                <div class="create">
                    <div class="create-grid">
                        <h1>Atualizar Usuário</h1>
                        <button class="button edit" type="submit">Salvar</button>
                    </div>

                    {% include 'admin/users/fields.njk' %}

                    <input type="hidden" name="id" value="{{ user.id }}">
                </div>

            </form>

            <form id='form-delete' method="POST" action="/admin/users?_method=DELETE">
                <input type="hidden" name="id" value="{{ user.id }}">
                <button class="delete edit" type="submit">Deletar</button>
            </form>
    </div>

    {% include "admin/confirm.njk"%}
{% endblock %}