{% extends "admin/layout.njk" %}
{% import  'parts/cards.njk' as cards%}

{% block head %}

    <title>Gerenciador Foodfy - Editar Usuário</title>

{% endblock %}

{% block content %}

{% call cards.render('body container users_manager') %}

    <form method='POST' action="/admin/users?_method=PUT">

        <div class="create">
            <div class="create-grid">
                <h1>Atualizar Usuário</h1>
                <div class="buttons">
                    <button form='form-delete' class="delete edit" type="submit">Deletar</button>
                    <button class="button edit" type="submit">Salvar</button>
                </div>
                
            </div>

            {% include 'admin/users/fields.njk' %}

            <input type="hidden" name="id" value="{{ user.id }}">
        </div>

    </form>

    <form id='form-delete' method="POST" action="/admin/users?_method=DELETE">
        <input type="hidden" name="id" value="{{ user.id }}">
    </form>

{% endcall %}
    {% include "admin/parts/confirm.njk"%}
{% endblock %}