<div class="admin">
 
    <div class="item">
        <div>Nome</div>
        <div>
            <input 
            type="text" 
            name='name' 
            placeholder="Digite seu nome completo" 
            value='{{ user.name }}'>
        </div>
    </div>

    <div class="item">
        <div>Email</div>
        <div>
            <input 
            type="email" 
            name='email' 
            placeholder="Digite seu email" 
            value='{{ user.email }}'>
        </div>
    </div>
</div>

<div class="item isAdmin">
    <div>
        <input 
        type="checkbox" 
        name='is_admin'
        {% if checked %}
        value='true'
        {% endif %}
        {% if user.is_admin == true %}
        checked="checked"
        {% endif %}
        >
    </div>
    <div>Adminstrador</div>
</div>
