{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy Manager</title>

{% endblock %}

{% block content %}

    <div class="body container users_manager">

        <div class="title-grid">
            <h1>Usuários</h1>

            <button>
                <a class="button" href="/admin/users/create">Novo</a>
            </button>
        </div>

        <div class="users-grid">

            {% for user in users %}

                <div class="user index">

                    <div class="user-content">
                        <h3>{{user.name}}</h3>
                        <p>{{user.email}}</p>
                        <div class="button-container">
                                <a class='visualization'
                                {% if user.id == session.userId %}
                                href="/admin/profile"
                                {% else %}
                                href="/admin/users/{{ user.id }}/edit"
                                {% endif %}
                                >Editar</a>
                                
                                {% if user.id != session.userId %}
                                <form id='form-delete' method="POST" action="/admin/users?_method=DELETE">
                                    <input type="hidden" name="id" value="{{ user.id }}">
                                    <button class="remove" type="submit">Remover</button>
                                </form>
                                {% endif %}
                        </div>
                    </div>

                </div>

            {% endfor %}
        </div>

    </div>

{% endblock %}