header {
  background-color: #111111;
  margin: 0 0 16px 0;
}
.header.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links .logo {
  position: initial;
}

.links .path {
  margin-right: 0;
}

.links .path a:last-child {
  margin-left: 16px;
}

.links a,
button.logout-button {
  color: #999999;
  font-weight: bold;
}

.links a:hover {
  color: #ffffff;
  transition: color 300ms;
}

button.button {
  text-align: center;
  background-color: #6558c3;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  width: 139px;
  height: 37px;
  font-size: 16px;
  line-height: 19px;
}

button:hover {
  background-color: #877aeb;
  transition: background-color 300ms;
}

/* DELETE BUTTON */
form#form-delete {
  display: flex;
  justify-content: end;
}

button.delete {
  text-align: center;
  background-color: #dc4747;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  width: 139px;
  height: 37px;
  font-size: 16px;
  line-height: 19px;
}

button.delete:hover {
  background-color: #eb628d;
  transition: background-color 300ms;
}

button.logout-button {
  text-align: initial;
  background-color: initial;
  padding: 0;
  border-radius: 0;
  width: initial;
  height: initial;

  color: #dc4747;
}

button.logout-button:hover {
  color: #eb628d;
}

/* RECIPES AND CHEFS GLOBAL CONFIG */

/* .body.container {
  display: block;
}
 */
.body.container h1 {
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}

.title-grid {
  margin-bottom: 20px;
}

.title-grid,
div.create-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  text-align: center;
  background-color: #6558c3;
  padding: 8px;
  border-radius: 4px;
  width: 136px;
  height: 37px;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

button.button,
a.button {
  color: #ffffff;
  text-decoration: none;
}

a.button,
a.edit-button {
  display: block;
  width: 100%;
}

/* FORM - GLOBAL CONFIG */

form .item {
  text-align: left;
  margin: 16px 0;
}

form .item input,
form .item select {
  border: 1px solid #dddddd;
  width: 940px;
  height: 49px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  padding: 4px;
  color: #555;
  box-sizing: border-box;
}

form .item select {
  outline: none;
}

form .item div:first-child {
  font-size: 16px;
  line-height: 19px;
  color: #111111;
  font-weight: bold;
  margin-bottom: 8px;
}

form .item:nth-child(7) input {
  max-width: 940px;
  max-height: 257px;
}
