header.session-header {
  background-color: white;
}

.session.header.container {
  display: initial;
}

.session.header.container div.links {
  display: initial;
  align-items: initial;
}

.session.body.container,
.password.body.container {
  width: 500px;
}

.session div.create,
.password.password.body.container form {
  margin: 95px 0;
}

.session div.create-grid {
  display: initial;
}

.session div.create-grid h1 {
  text-align: center;
}

.session div.fields input,
.password div.fields input {
  width: 100%;
  box-sizing: border-box;
}

.session div.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.session div.footer a {
  font-size: 16px;
  line-height: 19px;
  color: #854141;
}

/* MESSAGES */
@keyframes hideMessage {
  to {
    top: -100%;
    opacity: 0;
  }
}

.messages {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 20px;
  right: 20px;

  width: 344px;
  height: 135px;

  color: #eeee;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 4px;
  text-align: center;

  animation: hideMessage 800ms 2s ease-out forwards;
}

.messages.error {
  background-color: #dc4747;
}

.messages.success {
  background-color: #01b12a;
}

/* ERRORS - INPUT */
.input .error {
  color: #eeee;
  background-color: #dc4747;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 4px;
  padding: 4px;
  border-radius: 4px;
}

/* USERS */
form .create div.admin {
  display: grid;
  grid-template-columns: repeat(2, 490px);
  box-sizing: border-box;
}

form .create div.admin input {
  width: 450px;
}

.create .buttons {
  display: flex;
  gap: 16px;
}

.create .buttons a.cancel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a8a8a;
  color: #ffffff;
  border-radius: 4px;
  width: 139px;
  height: 37px;
  font-size: 16px;
  line-height: 19px;
}

form .create .item.isAdmin {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

form .create .item.isAdmin input {
  width: 15px;
  height: 15px;
  margin: 0;
}

form .item.item.isAdmin div:first-child {
  margin: 0;
}

/* INDEX USERS */
div.users-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 16px;
  margin: 34px 0 34px 0;
}

div.user-content h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}

div.user-content p {
  color: #777777;
}

div.user-content div.button-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

div.user-content p,
div.user-content div.button-container a,
div.user-content div.button-container button.remove {
  font-size: 14px;
  line-height: 17px;
}

div.user-content div.button-container a,
div.user-content div.button-container button.remove {
  font-weight: bold;
}

div.user-content div.button-container a {
  color: #6558c3;
}

div.user-content div.button-container button.remove {
  text-align: initial;
  background-color: initial;
  padding: 0px;
  border-radius: 0px;
  width: initial;
  height: initial;

  color: #f55a5a;
}

div.user-content div.button-container a:hover,
div.user-content div.button-container button.remove:hover {
  text-decoration: underline;
}

/* Forgot Password */

.password.body.container div.header h3 {
  text-align: center;
}

.password.body.container div.button {
  display: flex;
  justify-content: end;
}
