header.session-header {
  background-color: white;
}

.session.header.container {
  display: initial;
}

.session.header.container div.links {
  display: initial;
  align-items: initial;
}

.session.body.container {
  width: 500px;
}

.session div.create {
  margin: 95px 0;
}

.session div.create-grid {
  display: initial;
}

.session div.create-grid h1 {
  text-align: center;
}

.session div.fields input {
  width: 100%;
  box-sizing: border-box;
}

.session div.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.session div.footer a {
  font-size: 16px;
  line-height: 19px;
  color: #854141;
}

/* USERS */
form .create div.admin {
  display: flex;
  justify-content: space-between;
}

form .create div.admin input {
  width: 450px;
}

form .create .item.isAdmin {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

form .create .item.isAdmin input {
  width: 15px;
  height: 15px;
  margin: 0;
}

form .item.item.isAdmin div:first-child {
  margin: 0;
}
