{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy Manager</title>
    <link href="/css/privateAccess/recipes/create.css" rel="stylesheet">

{% endblock %}

{% block content %}

    <form method='POST' action="">
        <section class="manager-container">

            <div class="create">
                <div class="create-grid">
                    <h1>Editando receitas</h1>

                    <button type="submit">Salvar receita</button>
                </div>

                {% include 'admin/recipes/fields.njk' %}

                <input type="hidden" name="id" value="{{  }}">

            </div>
        </div>
    </section>
</form>

<script src="/js/scriptManager.js"></script>

{% endblock %}