{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy Manager</title>
    <link href="/css/privateAccess/recipes/create.css" rel="stylesheet">

{% endblock %}

{% block content %}

    <form method='POST' action="/admin/recipes?_method=PUT">
        <section class="manager-container">

            <div class="create">
                <div class="create-grid">
                    <h1>Editando receitas</h1>
                    <button class="save-button edit" type="submit">Salvar</button>
                </div>

                {% include 'admin/recipes/fields.njk' %}

            </div>
        </div>
    </section>
</form>

{% endblock %}