{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy Manager</title>
    <link href="/css/privateAccess/recipes/recipeManager.css" rel="stylesheet">

{% endblock %}

{% block content %}

    <section class="manager-container">

        <div class="recipes-container">

            <div class="title-grid">
                <h1>Gerenciar Receitas</h1>

                <button>
                    <a class="create-button" href="/admin/recipes/create">Criar receita</a>
                </button>
            </div>

            <div class="recipes-grid">

                {% for food in foods %}

                    <div class="recipe">

                        <div class="recipe-img">
                            <img src="{{food.image}}" alt="Image of {{food.image}}">
                        </div>

                        <div class="recipe-content">
                            <h3>{{food.title}}</h3>
                            <p>Por
                                {{food.author}}</p>
                            <p>
                                <a href="recipes/{{ food.id }}">Visualizar</a>
                            </p>

                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

    <script src="/js/scriptManager.js"></script>

{% endblock %}