{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy | About</title>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="about">
            <h1>Sobre o Foodfy</h1>
            <p>Foodfy é uma startup com a missão: “Ensinar aos nossos clientes as melhores técnicas alimentares”; Temos três princípios que nos conduzem: qualidade, perseverança e paixão. Qualidade em nossos serviços e produtos; perseverança para lutar contra tudo que nos rebaixa, até mesmo nossos fracassos; paixão em cada tarefa realizada.</p>

        </div>

        <div class="began">
            <h2>Como tudo começou</h2>
            <p>Foodfy começou em uma reunião de amigos no Brasil, os fundadores (Jonathan, Elise, Marcell, Keila) queriam uma nova forma de aprender as melhores técnicas de cozinhar. Jonathan aprendeu os mestres técnicos das facas com os antigos deuses do nosso planeta, Elise aprendeu a fazer os melhores hambúrgueres e pizzas com Giorno Giovanna, líder da gangue Passione. Marcell e Keila treinaram suas técnicas com o Capitão Falcon em sua nave F-Zero X, ouvindo Big Blue.</p>
        </div>

        <div class="recipes">
            <h2>Nossas Receitas</h2>
            <p>Aqui você aprenderá as melhores técnicas de cozinhar, surpreendendo toda sua família, amigos e inimigos. Foodfy veio para lhe dar o poder de cozinhar mais rápido e melhor. Mais facas, mais comida deliciosa, mais poder, mais, mais, mais.</p>
            <p>Foodfy, ensinando você a como se tornar o MASTER POWERFUL CHEF.</p>
        </div>

    </div>
{% endblock %}