<!DOCTYPE html>
<html>

    <head>
        {% block head %}

            <title>Foodfy</title>
            <link rel="icon" href="/assets/chef.png" type="image/x-icon"/>

        {% endblock %}

            <link href="/styles.css" rel="stylesheet">
    
    </head>

    <body>
        <header>

            <div class="links">
                <a href="/">
                    <img src="/assets/logo.png">
                </a>

                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
            </div>

        </header>

        {% block content%}{% endblock%}

    </body>
    
    <footer>
        <h2>Foodfy Receitas - 2020 - All Rights Reserved</h2>
    </footer>

</html>