{% extends "layout.njk" %}

{% block head %}

<title>{{food.title}} | Foodfy</title>
    <link href="/css/presentation/recipe.css" rel="stylesheet">


{% endblock %}

{% block content %}
<section class="recipes-container">

    <div class="recipe-fields">

        {% for food in foods %}
            <div class="food-image">
                <img src="{{food.image}}" alt="Image of {{food.title}}">
            </div>

            <div class="food-information">

                <div class="top_info">

                    <h3>{{food.title}}</h3>
                    <p>Por {{food.author}}</p>

                </div>

                <div class="mid_info">

                    <div class="ingredients">

                        <div class="subject">
                            <h1>Ingredientes</h1>
                            <button class='hide-button'>Esconder</button>
                        </div>

                        <div class="content show">
                            {% for ingredient in food.ingredients %}
                                <li>{{ingredient}}</li>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="preparation">

                        <div class="subject">
                            <h1>Modo de preparo</h1>
                            <button class='hide-button'>Esconder</button>
                        </div>

                        <div class="content show">
                            {% for steps in food.steps %}
                                <li>{{steps}}</li>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="info">

                        <div class="subject">
                            <h1>Informações adicionais</h1>
                            <button class='hide-button'>Esconder</button>
                        </div>

                        <div class="content show">
                            <p>{{food.information}}</p>
                        </div>

                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

</section>

<script src="/js/script.js"></script>

{% endblock %}