@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

*{
    margin: 0;
    border: 0;
    padding: 0;
}

/* -- LAYOUT --  */

body {
    background: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    margin: 34px 0;
}

.header-container {
    display: inline-block;
    margin-right: 16%;
    text-align: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.links a {
    color: #111111;
    text-decoration: none;
    font-weight: bold;
}

.links a:last-child {
    margin-left: 8px;
}

.links a:hover{
    color: rgb(7, 182, 66);
    transition: color 120ms;
}

.links .logo {
    margin-right: 54%;
}

.links .path a {  
    font-size: 16px;
    line-height: 24px;
    padding-top: 4px;
}

/* -- FOOTER -- */

footer {
    background-color: #EEEEEE;
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 10%;
}

footer h2{
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    text-align: center;
}