* {
  margin: 0;
  border: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
}

/* General config */
html,
body {
  min-height: 100vh;
}

body {
  background: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

header,
footer {
  width: 100%;
  padding: 16px 0;
}

.container {
  width: 100%;
  max-width: 940px;

  margin: 0 auto; /*  to align in the center */
}

section.body.container,
section.recipes.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}

/* -- LAYOUT --  */

header {
  text-align: center;
}

.header.container {
  display: inline-grid;
  grid-template-columns: 1fr 380px;
}

.links {
  display: flex;
  align-items: center;
}

.links .active {
  color: #6558c3;
}

.links a {
  color: #111111;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  color: #999999;
  transition: color 300ms;
}

.links .path a {
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 130px;
}

.filter input {
  width: 246px;
  height: 37px;
  border-radius: 6px;
  color: #999999;
  outline: none;
  border: 1px solid #dddddd;
  padding: 0 2px 0 2px;
  box-sizing: border-box;
}

button.header_filter {
  font-size: 16px;
  line-height: 24px;
  height: 36px;
  color: white;
  background-color: #6558c3;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

button.header_filter:hover {
  background-color: #8174e3;
  transition: background-color 300ms;
}

/* -- FOOTER -- */

footer {
  background-color: #eeeeee;
}

footer h2 {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  text-align: center;
}
