{% extends "publicAccess/layout.njk" %}

{% block head %}

    <title>Receitas | Foodfy</title>
    <link href="/css/publicAccess/cards.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <section class='card-container'>
        <div class="card-section">

            <div class="cards">

                {% for recipe in recipes %}
                    <div class="card" id='{{recipe.image}}'>

                        <div class="card-img">
                            <a href="/recipes/{{recipe.id}}"><img src="{{recipe.image}}" alt="Image of {{recipe.image}}"></a>
                        </div>

                        <div class="card-content">
                            <h3>{{recipe.title}}</h3>
                            <p>Por
                                {{recipe.chef_name}}</p>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="/js/script.js"></script>
{% endblock %}