{% extends "publicAccess/layout.njk" %}

{% block head %}

    <title>
        {{recipe.title}}
        | recipefy</title>
    <link href="/css/publicAccess/recipe.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <section class="recipes-container">

        <div class="recipe-fields">
            
            <div class="food-image gallery">
                <div class="highlight">
                    {% if not files[0] %}
                    <img src="http://placehold.it/940x280?text=NO PHOTO" />
                    {% else %}
                    <img src="{{ files[0].src }}" alt="Image of {{files[0].src}}" />
                    {% endif%}
                </div>
                <div class="gallery-preview">
                {% for file in files %}
                    <img 
                    src="{{ file.src }}"
                    alt="{{ file.name }}"
                    {% if loop.index0 == 0 %}
                    class="active"
                    {% endif %}
                    onclick='ImageGallery.setImage(event)'
                    /> 
                {% endfor %}
                </div>
            </div>

            <div class="food-information">

                <div class="top_info">

                    <h3>{{recipe.title}}</h3>
                    <p>Por
                        {{recipe.chef_name}}</p>

                </div>

                <div class="mid_info">

                    <div class="ingredients">

                        <div class="subject">
                            <h1>Ingredientes</h1>
                            <button class='hide-button'>Esconder</button>
                        </div>

                        <ul class="content show">
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ingredient}}</li>
                            {% endfor %}
                        </ul>

                    </div>

                    <div class="preparation">

                        <div class="subject">
                            <h1>Modo de preparo</h1>
                            <button class='hide-button'>Esconder</button>
                        </div>

                        <ul class="content show">
                            {% for preparation in recipe.preparation %}
                                <li>{{preparation}}</li>
                            {% endfor %}
                        </ul>

                    </div>

                    <div class="info">

                        <div class="subject">
                            <h1>Informações adicionais</h1>
                            <button class='hide-button'>Esconder</button>
                        </div>

                        <div class="content show">
                            <p>{{recipe.information}}</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section>

    <script src="/js/script.js"></script>

{% endblock %}