/*ABOUT - Content*/

@media screen and (max-width: 752px) {
  .page-content {
    margin: 0 5px;
  }
}

.about h1 {
  font-size: 24px;
  line-height: 28px;
}

.about p {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  color: #444444;
  margin-top: 10px;
}

.began h2 {
  font-size: 18px;
  line-height: 28px;
  margin-top: 40px;
}

.began p {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  color: #444444;
  margin-top: 10px;
}

.recipes h2 {
  font-size: 18px;
  line-height: 28px;
  margin-top: 40px;
}
.recipes p {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  color: #444444;
  margin-top: 10px;
}

.about p:last-child,
.began p:last-child,
.recipes p:last-child {
  margin-top: 24px;
}
