/*----FOOD PAGE -------*/
.recipes-container {
  text-align: center;
  min-height: 1221.41px;
}

.recipe-fields {
  max-width: 1400px;
  display: inline-block;
}

.recipe-head {
  width: 940px;
  margin-top: 32px;
  margin-bottom: 32px;

  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-head button {
  text-align: center;
  background-color: #6558c3;
  padding: 8px;
  border-radius: 4px;
  width: 136px;
  height: 37px;
  font-size: 16px;
  line-height: 19px;
}

.recipe-head a.edit-button {
  color: #ffffff;
  text-decoration: none;
}

/* PHOTOS GALLERY */

.food-image .highlight > img {
  width: 940px;
  height: 280px;
  border-radius: 15px;

  object-fit: cover;
  object-position: 50% 50%;
}

.food-image .gallery-preview {
  display: flex;
  justify-content: end;
}

.food-image .gallery-preview img {
  width: 50px;
  height: 49.7px;

  border-radius: 3.5px;
  margin-right: 10px;

  object-fit: cover;

  cursor: pointer;

  opacity: 0.5;
}

.food-image .gallery-preview img:last-child {
  margin-right: 0;
}

.food-image .gallery-preview img:hover,
.food-image .gallery-preview img.active {
  opacity: 1;
}

/* INFO FIELDS */

.food-information {
  text-align: justify;
}

.top_info {
  margin: 5% 0;
  text-align: center;
}

.top_info h3 {
  font-size: 36px;
  line-height: 42px;
  color: #111111;
  font-family: Roboto-Bold;
}

.top_info p {
  font-size: 20px;
  line-height: 24px;
  color: #777777;
  font-family: Roboto-Regular;
}

.subject {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.mid_info {
  max-width: 940px;
}

.ingredients h1 {
  margin-bottom: 2%;
  color: #111111;
  font-size: 24px;
  line-height: 28px;
  font-family: Roboto-Bold;
}

.ingredients li {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  font-family: Roboto-Regular;
}

.preparation {
  margin-top: 2%;
}

.preparation h1 {
  margin-bottom: 2%;
  color: #111111;
  font-size: 24px;
  line-height: 28px;
  font-family: Roboto-Bold;
}
.preparation li {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  font-family: Roboto-Regular;
}

.info {
  margin-top: 2%;
}

.info h1 {
  margin-bottom: 2%;
  color: #111111;
  font-size: 24px;
  line-height: 28px;
  font-family: Roboto-Bold;
}

.info p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  font-family: Roboto-Regular;
  white-space: pre-line;
}

/* hide buttom */
.hide-button {
  font-size: 12px;
  line-height: 14px;
  background: none;
  color: #999999;
  font-family: Roboto-Bold;
  text-align: left;
  outline: none;
}
.content.hide {
  display: none;
}
