{% extends "publicAccess/layout.njk" %}

{% block head %}

    <title>Receitas | Foodfy</title>
    <link href="/css/publicAccess/cards.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <section class='card-container'>
        <div class="card-section">

            <div class="cards">

                {% for food in foods %}
                    <div class="card" id='{{food.image}}'>

                        <div class="card-img">
                            <a href="/recipes/{{food.id}}"><img src="{{food.image}}" alt="Image of {{food.image}}"></a>
                        </div>

                        <div class="card-content">
                            <h3>{{food.title}}</h3>
                            <p>Por
                                {{food.author}}</p>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="/js/script.js"></script>
{% endblock %}