<header>
    <div class="header container admin">
        <div class="links">
            <div class='logo'>
                <a href="/admin/recipes">
                    <img src="/assets/logo2.png">
                </a>
            </div>
            <div class="path">
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
                <a href="/admin/users">Usuários</a>
            </div>
        </div>
        <div>
            <form action="/admin/logout" method="POST">
                <button class='logout-button'>Sair</button>
            </form>
        </div>
    </div>
</header>