<header>
    <div class="header container admin">
        <div class="links">
            <div class='logo'>
                <a href="/admin/recipes">
                    <img src="/assets/logo2.png">
                </a>
            </div>
            <div class="path">
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
        </div>
    </div>
</header>