<header class='session-header'>
  <div class="session header container">
    <div class="links">
      <div class='logo'>
        <a href="/">
          <img src="/assets/logo.png">
        </a>
      </div>
    </div>
  </div>
</header>