<header>
    <div class="header container">
        <div class="links">
            <div class='logo'>
                <a href="/">
                    <img src="/assets/logo.png">
                </a>
            </div>

            <div class="path">
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
                <a href="/chefs">Chefs</a>
                <a href="/admin/login">
                    <i class="material-icons">
                    account_circle
                    </i>
                </a>
            </div>

        </div>

        <form action="/recipes" method="GET">
            <div class="filter">
                <input type="text" name="filter" placeholder="Buscar uma receita">
                <button class="header_filter" type="submit">Filtrar</button>
            </div>
        </form>

    </div>

</header>

