{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy Manager</title>

{% endblock %}

{% block content %}
<div class="body container recipes_manager">

    <form method='POST' action="/admin/recipes" enctype="multipart/form-data">

            <div class="create">
                <div class="create-grid">
                    <h1>Criando receitas</h1>
                </div>

                {% include 'admin/recipes/fields.njk' %}

                <button class="button save" type="submit">Salvar</button>
            </div>
        </div>
    </form>

</div>


{% endblock %}