{% extends "admin/layout.njk" %}
{% import  'parts/cards.njk' as cards%}

{% block head %}

    <title>Gerenciador Foodfy - Editar Receita</title>

{% endblock %}

{% block content %}

    {% call cards.render('body container recipes_manager') %}

        <form method='POST' action="/admin/recipes?_method=PUT" enctype="multipart/form-data">

            <div class="create">
                <div class="create-grid">
                    <h1>Editando receitas</h1>
                    <div class="buttons">
                        <button form='form-delete' class="delete" type="submit">Deletar receita</button>
                        <button class="button edit" type="submit">Salvar receita</button>
                    </div>
                    
                </div>

                {% include 'admin/recipes/fields.njk' %}

                <input type="hidden" name="id" value="{{ recipe.id }}">
            </div>

        </form>

        <form id='form-delete' method="POST" action="/admin/recipes?_method=DELETE">
            <input type="hidden" name="id" value="{{ recipe.id }}">
        </form>

   {% endcall %}
    {% include "admin/parts/confirm.njk"%}
{% endblock %}