{% extends "admin/layout.njk" %}
{% import  'parts/cards.njk' as cards%}

{% block head %}

    <title>Foodfy Manager - Home</title>

{% endblock %}

{% block content %}

    {% call cards.render('body container recipes_manager') %}
    
        <div class="title-grid">
            <h1>Gerenciar Receitas</h1>

            <button>
                <a class="button" href="/admin/recipes/create">Criar receita</a>
            </button>
        </div>

        <div class="recipes-grid">

            {% for recipe in recipes %}
                <div class="recipe">

                    <div class="recipe-img">
                        <img src="{{recipe.img}}" alt="Image of {{recipe.files[0].name}}">
                    </div>

                    <div class="recipe-content">
                        <h3>{{recipe.title}}</h3>
                        <p>Por
                            {{recipe.chef_name}}</p>
                        <p>
                            <a href="recipes/{{ recipe.id }}">Visualizar</a>
                        </p>

                    </div>

                </div>
            {% endfor %}
        </div>
    {% endcall %}

{% endblock %}