{% extends "admin/layout.njk" %}
{% import 'parts/cards.njk' as cards %}
{% import 'parts/section-recipes.njk' as section %}

{% block head %}

    <title>Gerenciador Foodfy - Home</title>

{% endblock %}

{% block content %}

    {% call cards.render('body container recipes_manager') %}
    
        <div class="title-grid">
            <h1>Gerenciar Receitas</h1>

            <button>
                <a class="button" href="/admin/recipes/create">Criar receita</a>
            </button>
        </div>

        {{ section.recipes('recipes-grid admin', 'recipe', recipes, session) }}

    {% endcall %}

{% endblock %}