{% extends "admin/layout.njk" %}

{% block head %}

    <title>{{recipe.title}}
        | Foodfy</title>
    <link href="/css/publicAccess/recipe.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <section class="recipe-container">

        <div class="recipe-fields">

            <div class="recipe-head">
                <h1>Receita:
                    {{ recipe.title }}</h1>

                <button>
                    <a class="edit-button" href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
                </button>
            </div>

            <div class="food-image">
                <img src="{{ recipe.image }}" alt="Image of {{recipe.title}}">
            </div>

            <div class="food-information">

                <div class="top_info">

                    <h3>{{recipe.title}}</h3>
                    <p>Por
                        {{recipe.chef_name}}</p>

                </div>

                <div class="mid_info">

                    <div class="ingredients">

                        <div class="subject">
                            <h1>Ingredientes</h1>
                            <button class='hide-button'>Esconder</button>
                        </div>

                        <div class="content show">
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="preparation">

                        <div class="subject">
                            <h1>Modo de preparo</h1>
                            <button class='hide-button'>Esconder</button>
                        </div>

                        <div class="content show">
                            {% for preparation in recipe.preparation %}
                                <li>{{ preparation }}</li>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="info">

                        <div class="subject">
                            <h1>Informações adicionais</h1>
                            <button class='hide-button'>Esconder</button>
                        </div>

                        <div class="content show">
                            <p>{{recipe.information}}</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section>

    <script src="/js/script.js"></script>

{% endblock %}