.manager-container {
  text-align: center;
}

.body-container {
  display: inline-block;
  margin: 32px 0;
}

.body-container h1 {
  text-align: left;
}

.title-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-grid button {
  text-align: center;
  background-color: #6558c3;
  padding: 8px;
  border-radius: 4px;
  width: 136px;
  height: 37px;
  font-size: 16px;
  line-height: 19px;
  margin-left: 300px;
}

.title-grid .create-button {
  color: #ffffff;
  text-decoration: none;
}

.chefs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 16px;
  margin: 34px 0 34px 0;
  width: 940px;
}

.chef {
  display: inline-flex;
}

.chef_avatar img {
  width: 64px;
  height: 64px;
  border-radius: 40px;
}

.chef-content {
  text-align: left;
  padding: 8px;
  margin-left: 8px;
}

.chef-content h3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 4px;
}

.chef-content:last-child a.visualization {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #6558c3;
  font-weight: Bold;
  cursor: pointer;
  background: none;
}

.chef-content:last-child a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #111111;
  font-weight: Bold;
  cursor: pointer;
  background: none;
}
