/*----FOOD PAGE -------*/
.body.container.chefs_manager {
  text-align: center;
}

.body.container.chefs_manager div.body-fields {
  width: 940px;
  max-width: 1400px;
  display: inline-block;
}

.body.container.chefs_manager div.body-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: left;
}

.body.container.chefs_manager div.body-header button {
  text-align: center;
  background-color: #6558c3;
  padding: 8px;
  border-radius: 4px;
  width: 136px;
  height: 37px;
  font-size: 16px;
  line-height: 19px;
  margin-left: 332px;
}

.body.container.chefs_manager div.body-header a.edit-button {
  color: #ffffff;
  text-decoration: none;
}

.body.container.chefs_manager div.chef_avatar img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.body.container.chefs_manager div.chef-content {
  margin-top: 32px;
}

.body.container.chefs_manager div.chef-content h1 {
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}

.body.container.chefs_manager div.chef-content p {
  font-size: 20px;
  line-height: 24px;
}

/* RECIPES */
.body.container.chefs_manager div.recipes.container {
  margin-top: 50px;
}

.body.container.chefs_manager div.recipes.container h1 {
  text-align: left;
}

.body.container.chefs_manager div.recipes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 34px 0 34px 0;
}

.body.container.chefs_manager div.recipe {
  display: inline-flex;
}

.body.container.chefs_manager div.recipe-img img {
  width: 172px;
  height: 80px;
  border-radius: 8.57px;
}

.body.container.chefs_manager div.recipe-content {
  text-align: left;
  padding: 0 8px 0 8px;
}

.body.container.chefs_manager div.recipe-content h3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  padding-top: 5px;
}

.body.container.chefs_manager div.recipe-content p {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
  padding-top: 5px;
}

.body.container.chefs_manager div.recipe-content p:last-child a {
  text-decoration: none;
  color: #6558c3;
  font-weight: Bold;
  cursor: pointer;
  background: none;
}
