/*----FOOD PAGE -------*/
.body.container.chefs_manager {
  text-align: center;
}

.body.container.chefs_manager div.body-fields {
  width: 940px;
  max-width: 1400px;
/*   display: inline-block; */
}

.body.container.chefs_manager div.body-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: left;
}

.body.container.chefs_manager div.body-header button {
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  width: 136px;
  height: 37px;
  font-size: 16px;
  line-height: 19px;
  margin-left: 332px;
}

.body.container.chefs_manager div.body-header a.edit-button {
  color: #ffffff;
  text-decoration: none;
}

.body.container.chefs_manager div.chef_avatar.show img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.body.container.chefs_manager div.chef-content.show {
  margin-top: 32px;
}

.body.container.chefs_manager div.chef-content.show h1 {
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}

.body.container.chefs_manager div.chef-content.show p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

/* RECIPES */
.body.container.chefs_manager div.recipes.container {
  margin-top: 50px;
}

.body.container.chefs_manager div.recipes.container h1 {
  text-align: left;
}

.body.container.chefs_manager div.recipes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 34px 0 34px 0;
}

.body.container.chefs_manager div.recipe {
  display: flex;
}
