<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="/css/styles.css" rel="stylesheet">

{# PUBLIC #}
<link href="/css/publicAccess/index.css" rel="stylesheet">
<link href="/css/publicAccess/cards.css" rel="stylesheet">
<link href="/css/publicAccess/recipe.css" rel="stylesheet">

{# RECIPES STYLES #}
<link href="/css/publicAccess/recipe.css" rel="stylesheet">
<link href="/css/privateAccess/recipes/recipeManager.css" rel="stylesheet">
<link href="/css/privateAccess/recipes/create.css" rel="stylesheet"> {# Rewatch, look to line 5(its the same style) #}

{# PRiVATE #}

<link href="/css/privateAccess/index.css" rel="stylesheet">

<link href="/css/privateAccess/recipes/create.css" rel="stylesheet">
<link href="/css/privateAccess/chefs/chefsManager.css" rel="stylesheet">
<link href="/css/privateAccess/chefs/show.css" rel="stylesheet">

{# Session Styles #}
<link href="/css/privateAccess/session.css" rel="stylesheet">